// contact style

.contact {
    position: relative;
    margin-top: 4em;

    label {
        color: var(--secondary);
    }

    input, textarea {
        display: block;
        width: 100%;
        padding: 0.9em;
        border: 1px solid #AAC2C2;
        border-radius: 12px;
        margin: 0.3em 0 0.8em 0;
    }

    &:before {
        content: '';
        background: url('../images/star1.svg');
        background-repeat: no-repeat;
        position: absolute;
        top: -1em;
        right: 4em;
        width: 2em;
        height: 2em;
    }

    &:after {
        content: '';
        background: url('../images/swirl1.svg');
        background-repeat: no-repeat;
        position: absolute;
        bottom: -3em;
        right: 7em;
        width: 3em;
        height: 3em;
    }
}

@media only screen and (min-width: 768px) {
    .contact {
        padding-left: 15em;

        h2 {
            position: relative;

            &:before {
                content: '';
                background: url('../images/gear_art_alt.svg');
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: -35em;
                width: 30em;
                height: 30em;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .contact {
        padding: 0 15em 0 18em;

        h2 {
            position: relative;
    
            &:after {
                content: '';
                background: url('../images/dots.svg');
                background-repeat: no-repeat;
                position: absolute;
                top: 5em;
                right: -10em;
                width: 5em;
                height: 5em;
            }
        }
    }
}